<form [formGroup] = "formUser" (ngSubmit)="onSubmit()" *ngIf="!isRegistered">
  <div class="row">
    <div class="col-lg-12">
      <h4 class="text-center">Création compte</h4>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" formControlName="password" class="form-control">
      </div>
    </div>
    <div class="col-lg-12 text-center">
      <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
      <button type="submit" [disabled]="!formUser.valid || isSubmit" class="btn btn-sm btn-primary" id="ajouter">Créer le compte</button>
      <br>
      <br>
      <a [routerLink]="['/']" class="pull-right">Se connecter</a>
    </div>
  </div>
</form>

<div *ngIf="isRegistered" class="alert alert-success">
  Compte créé avec succès. <a [routerLink]="['/']">Se connecter</a>
</div>
