<form [formGroup] = "formLogin" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <h3 class="text-center">Connexion</h3>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" formControlName="password" class="form-control">
      </div>
    </div>
    <div class="col-lg-12 text-center">
      <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
      <button type="submit" [disabled]="!formLogin.valid || isSubmit" class="btn btn-sm btn-primary" id="ajouter">Connecter</button>
      <br>
      <br>
      <a class="" [routerLink]="['/users/register']">Créer un compte</a>
    </div>
  </div>
</form>
