<form [formGroup] = "formArticle" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="titre">Titre</label>
        <input type="text" id="titre" formControlName="titre" class="form-control">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" formControlName="description" class="form-control">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <input type="checkbox" id="publie"  formControlName="estPublie"> <label for="publie">&nbsp;publier l'article</label>
      </div>
    </div>
    <div class="col-lg-12 text-center">
      <button type="submit" [disabled]="!formArticle.valid" class="btn btn-sm btn-primary" id="ajouter">Enregistrer l'article</button>
    </div>
  </div>
</form>
