<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <img class="pull-right" style="width: 39px; cursor: pointer" (click)="onDisconnect()" src="../../assets/images/disconnect.jpg" alt="">
    </div>
    <br>
    <br>
    <div class="col-lg-8 offset-lg-2 form-container">
      <app-form-article [articleSelected]="articleSelected" (retourArticleId)="addArticle($event)"></app-form-article>
    </div>
    <div class="col-lg-8 offset-lg-2">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Publié</th>
            <th class="text-right">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="articles?.length === 0">
            <td colspan="4">Aucun article trouvé</td>
          </tr>
          <tr *ngFor="let article of articles">
            <td>{{article?.titre}}</td>
            <td>{{article?.description}}</td>
            <td>
              <span *ngIf="article?.estPublie">Oui</span>
              <span *ngIf="!article?.estPublie">Non</span>
            </td>
            <td>
              <div class="btn-group pull-right">
                <button style="text-align: right" (click)="onEdit(article)" class="btn btn-white"
                        data-toggle="tooltip" data-placement="bottom" title="Modifier">
                  <i class="fa fa-edit" style="size: 12px; color:#00d2d3"></i>
                </button>
                <button style="text-align: right" (click)="onDelete(article)" class="btn btn-white"
                        data-toggle="tooltip" data-placement="bottom" title="Supprimer">
                  <i class="fa fa-trash" style="size: 12px; color:red"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

